<%- include ../../partials/header.ejs %>


<body style="background-color:silver;">
    <div class="container">
        <a class="navbar-brand" href="/">
            home
        </a>
        <hr> 
        <div class="card mt-5">
            <div class="card-header">
                <h2>Criação de usuário</h2>
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="******"><br>
                    <button type="submit" class="btn btn-success btn-block">Criar</button>
                   
                </form>
            </div>
        </div>
    </div>
    
</body>


<%- include ../../partials/footer.ejs %>